doctype html
html
    head
        title LHWLWidjet
        //META
        meta(charset='utf-8')
        //SCRIPT
        script(src='/assets/js/lib/mustache.min.js')
        script(src='/assets/js/widjet.min.js')
        script(src='https://use.fontawesome.com/2388f13072.js')

        //STYLE
        link(rel='stylesheet',type='text/css',href='/assets/css/style.min.css')
    body(onload='loadtemp()')
        p#person